# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://hnklpqevocjiprqdqkef.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhua2xwcWV2b2NqaXBycWRxa2VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg2NzE2MTEsImV4cCI6MjA1NDI0NzYxMX0.dkOVkxFLvUUSa_2j8JRP9Wllh-3zZVs7Joym1aOlgXE
NEXT_PUBLIC_SITE_URL=http://localhost:3000
REPLICATE_API_TOKEN=your_replicate_api_token 
